<header>
  <container id="nav-bar">
    <div id="title-and-logo">
      Gathrr
      <% if (userID === 1) { %>
        <a href="/admin" class="fa-solid fa-wand-sparkles"></a>
      <% } if (userID === 2) { %>
        <a href="/user" class="fa-solid fa-wand-sparkles"></a>
      <% } %>
    </div>
    <div id="nav-buttons">
        <button type="button" value="Search" class="btn">Search</button>
        <button type="button" value="Conversations" class="btn">Conversations</button>
        <button type="button" value="Favorites" class="btn">Favorites</button>
        <button type="button" value="Listings" class="btn">Listings</button>
        <a href="/home" class="btn">Logout</a>
    </div>
  </container>
</header>
