<header>
  <container id="nav-bar">
    <div id="title-and-logo">
      Gathrr
      <% if (userID === 1) { %>
        <a href="/admin" class="fa-solid fa-wand-sparkles"></a>
      <% } if (userID === 2) { %>
        <a href="/user" class="fa-solid fa-wand-sparkles"></a>
      <% } %>
    </div>
    <div id="nav-buttons">
        <a href="/search" class="btn">Search</a>
        <a href="/conversations" class="btn">Conversations</a>
        <a href="/favorites" class="btn">Favorites</a>
        <a href="/listings" class="btn">Listings</a>
        <a href="/logout" class="btn">Logout</a>
    </div>
  </container>
</header>
