<header>
  <container id="nav-bar">
    <div id="title-and-logo">
      Gathrr
      <a href="/home" class="fa-solid fa-wand-sparkles"></a>
    </div>
    <div id="nav-buttons">
      <form action="/admin" method="GET">
        <button type="submit" value="Admin Login" class="btn">Admin Login</button>
      </form>
      <form action="/user" method="GET">
        <button type="submit" value="User Login" class="btn">User Login</button>
      </form>
    </div>
  </container>
</header>
