<header>
  <nav>
    <container id="nav-bar">
      <div id="title">
        Gathrr
      </div>
      <div id="logo">
        <img src="">
      </div>
      <div>
        <form method="GET" action="/search">
          <input type="text" name="name"></input>
          <button type="submit" value="Search" class="btn">Search</button>
        </form>
      </div>
      <div>
        <button type="button" value="Admin Login" class="btn">Admin Login</button>
      </div>
      <div>
        <button type="button" value="User Login" class="btn">User Login</button>
      </div>
    </container>
  </nav>
</header>
