<header>
    <container id="nav-bar">
      <div id="title-and-logo">
        Gathrr
        <i class="fa-solid fa-wand-sparkles"></i>
      </div>
      <div id="nav-buttons">
          <button type="button" value="Search" class="btn">Search</button>
          <button type="button" value="Admin Login" class="btn">Admin Login</button>
          <button type="button" value="User Login" class="btn">User Login</button>
      </div>
    </container>
</header>
