<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gathrr</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_landing_header.ejs') %>
  </header>
  <span class="images">
    <div>
      <img src="https://cdn1.mtggoldfish.com/images/h/Goblin-Guide-ZEN-672.jpg">
      <div class="description_box">
        Price:
        <br>
        Description:
      </div>
    </div>
    <div>
      <img src="https://cdn1.mtggoldfish.com/images/h/Ulamog-the-Ceaseless-Hunger-BFZ-672.jpg">
      <div class="description_box">
        Price:
        <br>
        Description:
      </div>
    </div>
    <div>
      <img src="https://cdn1.mtggoldfish.com/images/h/Boseiju-Who-Endures-NEO-672.jpg">
      <div class="description_box">
        Price:
        <br>
        Description:
      </div>
    </div>
  </span>
  <footer>
    FOOTER HERE
  </footer>
</body>

</html>
