<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gathrr</title>

  <!-- Font Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Icon Library -->
  <script src="https://kit.fontawesome.com/2abf93986a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/_landing_header.ejs') %>

  <div>
    Hi there!
  </div>

  <footer>
    <%- include('partials/_footer.ejs') %>
  </footer>
</body>
</html>
