@use 'base';

html {
  background-color: #574AE2;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

.featured-cards-container {
  @include base.featured-cards-mixin
};

.featured-cards-container > h2 {
  @include base.section-header;
}

.card-tiles-container {
 @include base.card-tile-container;
}

.card-tile {
 @include base.card-tile-mixin;
}

.card-tile > img {
  @include base.card-tile-image-mixin;
}

.name-and-price {
  @include base.card-tile-name-and-price-mixin;
}

#contact-seller > button {
  background-color: base.$transparent-secondary-color;
  border-color: base.$text-color;
  font: base.$light-font;
  font-size: 17px;
  color: base.$text-color;
  border-radius: 10px;
}
