// See: https://sass-lang.com/
@use 'base';

body {
  margin: 0px;
}

#nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: base.$dark-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

#title-and-logo {
  @include base.title-and-logo;
  margin: 10px 10px 10px 20px;
}

#nav-buttons {
  margin: 10px 20px 10px 10px;
}

.btn {
  @include base.nav-button;
  transition-delay: 0.1s;
  transition-duration: 1s;
}

.btn:hover {
  color: base.$text-color;
  transition-delay: 0.1s;
  transition-duration: 1s;
  cursor: pointer;
}


footer {
  background: blue;
  padding: 10px 0;
  text-align: center;
}

footer a {
  color: red;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #726f6f;
}
