// See: https://sass-lang.com/
@use 'base';

html, body {
  margin: 0px;
  height: 100%;
}

.card-tiles-container {
  @include base.card-tiles-container2-mixin
};

.card-tile {
  @include base.card-tile2-mixin
};

.name-and-price {
  @include base.card-tile-name-and-price-mixin;
  font: base.$light-font;
  color: base.$text-color;
  font-size: 15px;
};

h2 {
  display: flex;
  justify-content: center;
  top: 90px;
  position: relative;
  font: base.$light-font;
  font-size: 55px;
  color: base.$text-color;
}
