@use 'base';

.card-tiles-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin: auto;

  max-width: fit-content;
  flex-wrap: wrap;
  top: 75px;
  padding-bottom: 100px;
}

.card-tile {
  margin: 20px;
}

.name-and-price {
  @include base.card-tile-name-and-price-mixin;
  font: base.$light-font;
  color: base.$text-color;
  font-size: 15px;
}

h2 {
  display: flex;
  justify-content: center;
  top: 90px;
  position: relative;
  font: base.$light-font;
  font-size: 55px;
  color: base.$text-color;
}

#whole-page {
  display: flex;
}

#filter-box {
  display: flex;
  flex-direction: column;
  text-align: center;

  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
  border-color: base.$text-color;

  background-color: base.$transparent-secondary-color;

  position: sticky;
  align-self: flex-start;
  top: 181px;

  margin-left: 20px;
  margin-top: 98px;
  padding: 10px;

  height: 350px;
  max-width: 300px;

  font: base.$light-font;
  color: base.$text-color;
  font-size: 30px;
}

form input {
  background-color: transparent;
  font-family: luminari, fantasy;
  color: base.$text-color;
  font-size: 20px;
}

form button {
  font: base.$light-font;
  color: base.$text-color;
  margin: 15px;
  background-color: transparent;
  border-radius: 10px;
}

.form-label {
  font-size: 25px;
  color: base.$secondary-color;
}


